In [288]:
import pandas as pd
import zipfile

# Ruta local al archivo zip (ajústala si es diferente)
zip_path = 'C:/Users/evivas/Downloads/Datos_icfes_analitica.zip'

# Abrir el zip y leer el CSV dentro (ajusta el nombre del archivo si cambia)
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    with zip_ref.open('Datos_icfes.csv') as file:
        df = pd.read_csv(file)

df.head()

,periodo,estu_tipodocumento,estu_consecutivo,cole_area_ubicacion,cole_bilingue,cole_calendario,cole_caracter,cole_cod_dane_establecimiento,cole_cod_dane_sede,cole_cod_depto_ubicacion,...,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,partition_0
0,20172,CC,SB11201720219629,URBANO,NaN,A,ACADÉMICO,113433000021,113433000021,13,...,No,Si,A-,45.0,39.0,50,48,49,232,saber11-2017
1,20172,TI,SB11201720548913,RURAL,NaN,A,ACADÉMICO,241396000536,241396000536,41,...,No,Si,A-,36.0,50.0,45,48,49,235,saber11-2017
2,20172,TI,SB11201720208875,URBANO,N,A,TÉCNICO,176403000079,176403000079,76,...,Si,Si,A1,48.0,53.0,54,52,59,270,saber11-2017
3,20172,TI,SB11201720311306,URBANO,N,A,TÉCNICO,113468001038,113468001038,13,...,No,Si,A-,45.0,52.0,56,51,58,268,saber11-2017
4,20172,TI,SB11201720424646,RURAL,N,A,TÉCNICO/ACADÉMICO,273268001120,273268001120,73,...,Si,Si,A-,37.0,46.0,48,51,46,235,saber11-2017

In [289]:
#Conocer el nombre de las columnas 
df.columns
print(list(df.columns))

['periodo', 'estu_tipodocumento', 'estu_consecutivo', 'cole_area_ubicacion', 'cole_bilingue', 'cole_calendario', 'cole_caracter', 'cole_cod_dane_establecimiento', 'cole_cod_dane_sede', 'cole_cod_depto_ubicacion', 'cole_cod_mcpio_ubicacion', 'cole_codigo_icfes', 'cole_depto_ubicacion', 'cole_genero', 'cole_jornada', 'cole_mcpio_ubicacion', 'cole_naturaleza', 'cole_nombre_establecimiento', 'cole_nombre_sede', 'cole_sede_principal', 'estu_cod_depto_presentacion', 'estu_cod_mcpio_presentacion', 'estu_cod_reside_depto', 'estu_cod_reside_mcpio', 'estu_depto_presentacion', 'estu_depto_reside', 'estu_estadoinvestigacion', 'estu_estudiante', 'estu_fechanacimiento', 'estu_genero', 'estu_mcpio_presentacion', 'estu_mcpio_reside', 'estu_nacionalidad', 'estu_pais_reside', 'estu_privado_libertad', 'fami_cuartoshogar', 'fami_educacionmadre', 'fami_educacionpadre', 'fami_estratovivienda', 'fami_personashogar', 'fami_tieneautomovil', 'fami_tienecomputador', 'fami_tieneinternet', 'fami_tienelavadora', 'desemp_ingles', 'punt_ingles', 'punt_matematicas', 'punt_sociales_ciudadanas', 'punt_c_naturales', 'punt_lectura_critica', 'punt_global', 'partition_0']

In [290]:
#Eliminar columnas innecesarias, teniendo en cuenta las preguntas de negocio
df = df.drop(['estu_consecutivo', 'cole_area_ubicacion', 'cole_cod_dane_establecimiento','cole_cod_dane_sede','cole_cod_depto_ubicacion', 'cole_cod_mcpio_ubicacion','cole_codigo_icfes','cole_nombre_establecimiento', 'cole_nombre_sede', 'cole_sede_principal','estu_cod_depto_presentacion', 'estu_cod_mcpio_presentacion', 'estu_cod_reside_depto','estu_cod_reside_mcpio', 'estu_depto_presentacion', 'estu_depto_reside','estu_fechanacimiento','estu_mcpio_presentacion', 'estu_mcpio_reside','partition_0','cole_mcpio_ubicacion','estu_estadoinvestigacion','estu_estudiante'], axis=1)

In [291]:
# Contar la cantidad de datos faltantes en cada columna 
datos_faltantes = df.isna().sum()

# Mostrar el resultado
print(datos_faltantes)

periodo                         0
estu_tipodocumento              0
cole_bilingue               79551
cole_calendario                 0
cole_caracter                8685
cole_depto_ubicacion            0
cole_genero                     0
cole_jornada                    0
cole_naturaleza                 0
estu_genero                     6
estu_nacionalidad               0
estu_pais_reside                0
estu_privado_libertad           0
fami_cuartoshogar            8823
fami_educacionmadre         24805
fami_educacionpadre         24806
fami_estratovivienda        27728
fami_personashogar          11614
fami_tieneautomovil         10530
fami_tienecomputador         9202
fami_tieneinternet          25707
fami_tienelavadora           8627
desemp_ingles                   7
punt_ingles                   123
punt_matematicas               11
punt_sociales_ciudadanas        0
punt_c_naturales                0
punt_lectura_critica            0
punt_global                     0
dtype: int64

In [292]:
import pandas as pd

# Valores unicos de cada columna 
for column in df.columns:
    print(f"Valores únicos en la columna '{column}':")
    print(df[column].unique())
    print('-' * 40)

Valores únicos en la columna 'periodo':
[20172 20171]
----------------------------------------
Valores únicos en la columna 'estu_tipodocumento':
['CC' 'TI' 'CR' 'CE' 'V' 'RC' 'PE' 'PC' 'NUI' 'NUIP']
----------------------------------------
Valores únicos en la columna 'cole_bilingue':
[nan 'N' 'S']
----------------------------------------
Valores únicos en la columna 'cole_calendario':
['A' 'B' 'OTRO']
----------------------------------------
Valores únicos en la columna 'cole_caracter':
['ACADÉMICO' 'TÉCNICO' 'TÉCNICO/ACADÉMICO' nan 'NO APLICA']
----------------------------------------
Valores únicos en la columna 'cole_depto_ubicacion':
['BOLIVAR' 'HUILA' 'VALLE' 'TOLIMA' 'ANTIOQUIA' 'LA GUAJIRA'
 'CUNDINAMARCA' 'CAQUETA' 'CESAR' 'BOYACA' 'BOGOTA' 'SUCRE' 'NARIÑO'
 'MAGDALENA' 'ATLANTICO' 'CAUCA' 'SANTANDER' 'CORDOBA' 'NORTE SANTANDER'
 'QUINDIO' 'RISARALDA' 'PUTUMAYO' 'GUAVIARE' 'META' 'GUAINIA' 'CASANARE'
 'CALDAS' 'CHOCO' 'VAUPES' 'ARAUCA' 'SAN ANDRES' 'VICHADA' 'AMAZONAS']
----------------------------------------
Valores únicos en la columna 'cole_genero':
['MIXTO' 'FEMENINO' 'MASCULINO']
----------------------------------------
Valores únicos en la columna 'cole_jornada':
['MAÑANA' 'COMPLETA' 'TARDE' 'NOCHE' 'UNICA' 'SABATINA']
----------------------------------------
Valores únicos en la columna 'cole_naturaleza':
['OFICIAL' 'NO OFICIAL']
----------------------------------------
Valores únicos en la columna 'estu_genero':
['F' 'M' '15/07/2000' 'ESTUDIANTE' '24/07/2000' '26/11/1998' '06/09/1999'
 '22/01/1999' '18/08/1999' '31/07/2000' '15/12/1998' '10/04/2001'
 '08/10/2001' '20/11/2002' '18/08/2000' '27/08/1997' '28/08/1999'
 '18/02/1997' '22/03/2001' '02/05/2000' '25/09/2000' '15/01/2002'
 '01/10/1999' '12/07/1999' nan '11/03/2001' '09/05/2002' '22/01/2000'
 '27/03/1998' '14/05/2000' '05/08/2000' '26/05/1999' '07/11/1999'
 '12/04/2001' '17/04/1999' '09/09/2000' '29/09/2000' '08/08/1999'
 '22/11/2000' '10/03/1998' '12/08/1999' '05/10/1998' '03/12/2000'
 '26/01/2000' '10/07/1999' '24/05/2000' '22/10/2001' '17/11/2000'
 '05/08/1999' '11/12/2000' '29/05/2000' '24/08/2000' '24/06/2000'
 '13/04/2000' '21/05/1999' '03/09/1998' '09/10/1999' '25/03/2001'
 '03/12/1998' '12/10/2000' '27/12/1999' '27/06/1999' '20/02/2000'
 '18/11/1998' '23/07/1999' '21/04/2001' '07/12/1998' '08/01/2000'
 '05/09/2000' '20/05/1999' '11/03/1999' '08/06/2000' '11/10/2000'
 '25/12/2000' '22/10/2000' '13/08/1998' '29/12/2000' '15/03/2000'
 '23/06/2001' '13/05/1999' '29/06/2000' '24/05/2001' '03/04/1995'
 '02/04/2000' '23/03/2002' '08/04/1998' '23/12/2000' '14/11/2000'
 '04/03/1999' '23/02/2000' '21/11/1998' '22/07/1999' '28/04/2000'
 '29/04/2000' '13/03/2000' '21/09/1999' '03/12/1999' '09/10/1994'
 '07/11/2000' '07/09/1999' '25/12/1999' '08/05/1998' '21/10/1997'
 '10/09/2000' '27/03/1999' '30/03/1996' '27/02/2002' '16/06/2000']
----------------------------------------
Valores únicos en la columna 'estu_nacionalidad':
['COLOMBIA' 'VENEZUELA' 'CÓRDOBA' 'ESTADOS UNIDOS' 'CHINCHINÁ' 'LÍBANO'
 'ESPAÑA' 'ECUADOR' 'FRANCIA' 'DAGUA' 'NEIVA' 'BRASIL' 'GUATEMALA'
 'PARAGUAY' 'BOLIVIA' 'ARGENTINA' 'ITALIA' 'CHINA' 'COMORAS' 'PANAMÁ'
 'MÉXICO' 'CALI' 'RUSIA' 'CUBA' 'PERÚ' 'CHILE' 'COREA DEL SUR'
 'PAÍSES BAJOS - HOLANDA' 'IRÁN' 'SUIZA' 'COSTA RICA' 'ALEMANIA' 'NAURU'
 'JAPÓN' 'ARGELIA' 'DINAMARCA' 'COREA DEL NORTE' 'TERRITORIOS PALESTINOS'
 'REPÚBLICA DOMINICANA' 'NICARAGUA' 'BÉLGICA' 'REINO UNIDO' 'URUGUAY'
 'ALBANIA' 'NAMIBIA' 'AUSTRIA' 'BONAIRE' 'EL SALVADOR' 'HONDURAS'
 'CROACIA' 'PORTUGAL' 'UCRANIA' 'BIELORRUSIA' 'BULGARIA' 'ARUBA'
 'PUERTO RICO' 'TURQUÍA']
----------------------------------------
Valores únicos en la columna 'estu_pais_reside':
['COLOMBIA' 'VENEZUELA' 'ESTADOS UNIDOS' 'CHINCHINÁ' 'LÍBANO' 'ESPAÑA'
 'ECUADOR' 'FRANCIA' 'BRASIL' 'GUATEMALA' 'PARAGUAY' 'BOLIVIA' 'ARGENTINA'
 'ITALIA' 'CHINA' 'COMORAS' 'PANAMÁ' 'MÉXICO' 'RUSIA' 'CUBA' 'PERÚ'
 'CHILE' 'COREA DEL SUR' 'PAÍSES BAJOS - HOLANDA' 'IRÁN' 'SUIZA'
 'COSTA RICA' 'ALEMANIA' 'NAURU' 'JAPÓN' 'ARGELIA' 'DINAMARCA'
 'COREA DEL NORTE' 'TERRITORIOS PALESTINOS' 'REPÚBLICA DOMINICANA'
 'NICARAGUA' 'BÉLGICA' 'REINO UNIDO' 'URUGUAY' 'ALBANIA' 'NAMIBIA'
 'AUSTRIA' 'BONAIRE' 'EL SALVADOR' 'HONDURAS' 'CROACIA' 'PORTUGAL'
 'UCRANIA' 'BIELORRUSIA' 'BULGARIA' 'ARUBA' 'PUERTO RICO' 'TURQUÍA']
----------------------------------------
Valores únicos en la columna 'estu_privado_libertad':
['N' 'COLOMBIA' 'S']
----------------------------------------
Valores únicos en la columna 'fami_cuartoshogar':
['Dos' 'Tres' 'Cuatro' 'Seis o mas' 'Uno' 'Cinco' nan 'N' 'COLOMBIA']
----------------------------------------
Valores únicos en la columna 'fami_educacionmadre':
['Secundaria (Bachillerato) completa' 'Primaria completa'
 'Educación profesional completa' 'Secundaria (Bachillerato) incompleta'
 'Técnica o tecnológica completa' nan 'Primaria incompleta' 'Postgrado'
 'Ninguno' 'Técnica o tecnológica incompleta'
 'Educación profesional incompleta' 'No sabe' 'No Aplica' 'Dos' 'N'
 'Seis o mas' 'Tres' 'Cinco' 'Cuatro' 'Uno']
----------------------------------------
Valores únicos en la columna 'fami_educacionpadre':
['Secundaria (Bachillerato) incompleta' 'Primaria incompleta'
 'Técnica o tecnológica completa' 'Primaria completa'
 'Secundaria (Bachillerato) completa' nan
 'Técnica o tecnológica incompleta' 'Educación profesional completa'
 'Postgrado' 'No Aplica' 'No sabe' 'Ninguno'
 'Educación profesional incompleta' 'Dos' 'Cuatro' 'Uno' 'Tres']
----------------------------------------
Valores únicos en la columna 'fami_estratovivienda':
['Estrato 2' 'Estrato 1' 'Sin Estrato' 'Estrato 3' nan 'Estrato 4'
 'Estrato 5' 'Estrato 6' 'Secundaria (Bachillerato) completa'
 'Primaria completa' 'Educación profesional completa' 'No sabe'
 'Primaria incompleta' 'Ninguno' 'No Aplica'
 'Secundaria (Bachillerato) incompleta' 'Educación profesional incompleta'
 'Postgrado' 'Técnica o tecnológica incompleta'
 'Técnica o tecnológica completa']
----------------------------------------
Valores únicos en la columna 'fami_personashogar':
['5 a 6' '3 a 4' '1 a 2' '7 a 8' nan '9 o más' 'Estrato 1'
 'Primaria incompleta' 'Estrato 2' 'Secundaria (Bachillerato) completa'
 'Estrato 4' 'Estrato 3' 'Estrato 6' 'Ninguno' 'Sin Estrato'
 'Primaria completa' 'Estrato 5' 'Secundaria (Bachillerato) incompleta']
----------------------------------------
Valores únicos en la columna 'fami_tieneautomovil':
['No' 'Si' nan '5 a 6' 'Estrato 2' '3 a 4' '1 a 2' '9 o más' '7 a 8'
 'Estrato 3' 'Estrato 1']
----------------------------------------
Valores únicos en la columna 'fami_tienecomputador':
['No' 'Si' nan '3 a 4' '5 a 6' '1 a 2' '9 o más']
----------------------------------------
Valores únicos en la columna 'fami_tieneinternet':
['No' 'Si' nan]
----------------------------------------
Valores únicos en la columna 'fami_tienelavadora':
['Si' 'No' nan]
----------------------------------------
Valores únicos en la columna 'desemp_ingles':
['A-' 'A1' 'A2' 'B1' 'B+' 'Si' 'No' nan]
----------------------------------------
Valores únicos en la columna 'punt_ingles':
[ 45.  36.  48.  37.  56.  43.  35.  52.  53.  59.  60.  64.  54.  68.
  32.  88.  42.  40.  51.  49.  44.  77.  46.  69.  31.  58.  50.  65.
  55.  80.  57.  38.  39.  34.  63.  47.  30.  78.  62.  33.  71.  73.
  29.  61.  81.  67.  41.  83.  79.  66.  82.  27.  70.  75.  85.  26.
  72. 100.  76.  74.  87.  89.  nan  96.  28.  91.  84.  86.  92.  90.
  93.  97.   0.  25.  95.  99.  98.  94.  21.  24.  13.  23.  19.  16.
  14.  20.  18.  22.]
----------------------------------------
Valores únicos en la columna 'punt_matematicas':
[ 39.  50.  53.  52.  46.  65.  49.  51.  38.  42.  67.  70.  72.  58.
  59.  57.  44.  82.  48.  37.  47.  45.  41.  35.  30.  62.  63.  40.
  33.  55.  54.  75.  60.  29.  43.  64.  34.  32.  56.  36.  78.  69.
  61.  68.  74.  31.  66.  28.  23.  71.  73.  24.  25.  26.  85.  80.
  84.  27.  77.  76.  79. 100.  21.  22.  81.   0.  18.  83.  nan  20.
  19.  86.  88.  87.  89.  17.  92.  90.]
----------------------------------------
Valores únicos en la columna 'punt_sociales_ciudadanas':
[ 50  45  54  56  48  62  40  35  34  53  59  63  66  68  57  64  42  79
  36  49  65  43  47  44  37  46  55  51  60  61  38  41  58  39  70  32
  30  69  73  28  71  52  75  33  74  24  67  29  31  72  76  78  23  27
  80  77  81  26  25  83  82   0 100  22  20  21  88  19  18  86  84  85
  87]
----------------------------------------
Valores únicos en la columna 'punt_c_naturales':
[ 48  52  51  58  54  36  43  55  65  40  73  70  63  39  56  46  44  72
  41  60  59  42  50  57  61  47  69  49  35  30  62  38  32  45  33  66
  67  64  53  68  29  37  71  28  79  34  81  75  31  78  76  77  74  27
 100  80   0  82  26  25  83  24  84  23  85]
----------------------------------------
Valores únicos en la columna 'punt_lectura_critica':
[ 49  59  58  46  53  45  35  41  64  73  50  69  48  70  65  44  62  51
  42  63  75  60  61  55  52  71  67  43  66  47  72  57  36  39  56  38
  40  74  68  54  27  37  33  31  32  34  76  30  79  29  28  78  77  82
  80   0  83  81  84  26 100  25  24  85  23]
----------------------------------------
Valores únicos en la columna 'punt_global':
[232 235 270 268 292 238 240 180 201 279 310 297 352 315 312 226 381 318
 209 246 213 320 242 233 251 263 341 215 191 311 262 288 228 204 258 236
 298 252 304 290 371 260 177 223 250 227 190 239 307 277 205 319 220 282
 197 181 211 299 189 272 175 283 264 173 338 294 188 207 280 231 200 346
 357 218 344 273 222 254 303 314 293 221 195 302 210 243 206 182 219 313
 244 301 275 291 192 317 274 306 305 171 326 208 196 247 365 248 184 198
 327 266 257 234 199 330 269 185 289 355 214 300 316 212 358 286 230 287
 193 183 339 253 187 348 323 186 202 328 162 256 217 255 164 203 168 176
 245 382 178 296 387 325 261 308 259 265 395 165 229 281 342 172 278 324
 369 241 179 225 333 332 347 216 276 152 224 295 170 237 363 267 340 345
 322 321 284 329 353 364 337 167 396 309 350 368 249 367 194 351 271 377
 174 331 166 335 285 398 160 158 334 336 148 354 343 360 153 400 161 169
 390 361 402 155 384 362 157 366 372 378 150  45 388 375 356 393 418 144
  13 430 374 159 146 397 392 359 380 145 154 163 373 370 376 386 415 422
 151 349 389 394 434 379  41 140 433 383 385 147  65 156 149 408 403 411
 137 470 407 142 404 416 410 391 423 449  42 135 405 412 143  61 409 406
 440  49 141 419 438 421  70 399 131  90 442 401 126  47 414 128 426 445
 417 435  37 413 472 138 134 420 424  97 436 431 103 123  67 455  60 437
  46 450  50 107  52 428 129   0 127 113  71 465 122 125  53  43 441  44
 118 114 463 119 133 425 427 446  57  62 132 109 130 447 460 448  55 452
 106  64 104  59  23  56  51 444 453 454 139  73 105 432 459 476  36  30
 468  48 462 443 136  39  40  92  98  93  58 439 101  85 116 117 111  75
 124 100 108  38  94  96 112 429  69  54 457 471 451  81 110  68  32  34
 456]
----------------------------------------

In [293]:
# 1. Eliminar filas con 'cole_calendario' == "OTRO"
df = df[df['cole_calendario'] != "OTRO"]

In [294]:
# 2. Eliminar filas con 'cole_caracter' == "NO APLICA"
df = df[df['cole_caracter'] != "NO APLICA"]

In [295]:
# 3. Eliminar filas de la columna estu_genero cuyo valor NO sea 'F' o 'M'
df = df[df['estu_genero'].isin(['F', 'M'])]

In [296]:
# 4. Eliminar filas donde 'estu_pais_reside' no sea 'COLOMBIA'
df = df[df['estu_pais_reside'] == 'COLOMBIA']

In [297]:
# 5. En 'fami_educacionmadre', eliminar filas con valores no deseados
valores_no_madre = ['No sabe', 'No Aplica']
df = df[~df['fami_educacionmadre'].isin(valores_no_madre)]

In [298]:
# 6. En 'fami_educacionpadre', eliminar filas con valores no deseados
valores_no_padre = ['No Aplica', 'No sabe']
df = df[~df['fami_educacionpadre'].isin(valores_no_padre)]

In [299]:
# Saber el tipo de dato de cada columna, para corroborar que las columnas donde esta el puntaje global y el puntaje por competencias sea un int o float
print(df.dtypes)

periodo                       int64
estu_tipodocumento           object
cole_bilingue                object
cole_calendario              object
cole_caracter                object
cole_depto_ubicacion         object
cole_genero                  object
cole_jornada                 object
cole_naturaleza              object
estu_genero                  object
estu_nacionalidad            object
estu_pais_reside             object
estu_privado_libertad        object
fami_cuartoshogar            object
fami_educacionmadre          object
fami_educacionpadre          object
fami_estratovivienda         object
fami_personashogar           object
fami_tieneautomovil          object
fami_tienecomputador         object
fami_tieneinternet           object
fami_tienelavadora           object
desemp_ingles                object
punt_ingles                 float64
punt_matematicas            float64
punt_sociales_ciudadanas      int64
punt_c_naturales              int64
punt_lectura_critica          int64
punt_global                   int64
dtype: object

In [300]:
import pandas as pd

# Corroborar que los valores unicos de cada columna sean acordes al nombre de esa columna 
for column in df.columns:
    print(f"Valores únicos en la columna '{column}':")
    print(df[column].unique())
    print('-' * 40)

Valores únicos en la columna 'periodo':
[20172 20171]
----------------------------------------
Valores únicos en la columna 'estu_tipodocumento':
['CC' 'TI' 'CR' 'CE' 'RC' 'PC' 'PE' 'V' 'NUI' 'NUIP']
----------------------------------------
Valores únicos en la columna 'cole_bilingue':
[nan 'N' 'S']
----------------------------------------
Valores únicos en la columna 'cole_calendario':
['A' 'B']
----------------------------------------
Valores únicos en la columna 'cole_caracter':
['ACADÉMICO' 'TÉCNICO' 'TÉCNICO/ACADÉMICO' nan]
----------------------------------------
Valores únicos en la columna 'cole_depto_ubicacion':
['BOLIVAR' 'HUILA' 'VALLE' 'TOLIMA' 'ANTIOQUIA' 'LA GUAJIRA'
 'CUNDINAMARCA' 'CAQUETA' 'CESAR' 'BOYACA' 'BOGOTA' 'NARIÑO' 'MAGDALENA'
 'CAUCA' 'SUCRE' 'SANTANDER' 'CORDOBA' 'NORTE SANTANDER' 'QUINDIO'
 'ATLANTICO' 'RISARALDA' 'PUTUMAYO' 'GUAVIARE' 'META' 'GUAINIA' 'CASANARE'
 'CALDAS' 'CHOCO' 'VAUPES' 'ARAUCA' 'SAN ANDRES' 'VICHADA' 'AMAZONAS']
----------------------------------------
Valores únicos en la columna 'cole_genero':
['MIXTO' 'FEMENINO' 'MASCULINO']
----------------------------------------
Valores únicos en la columna 'cole_jornada':
['MAÑANA' 'COMPLETA' 'TARDE' 'NOCHE' 'UNICA' 'SABATINA']
----------------------------------------
Valores únicos en la columna 'cole_naturaleza':
['OFICIAL' 'NO OFICIAL']
----------------------------------------
Valores únicos en la columna 'estu_genero':
['F' 'M']
----------------------------------------
Valores únicos en la columna 'estu_nacionalidad':
['COLOMBIA']
----------------------------------------
Valores únicos en la columna 'estu_pais_reside':
['COLOMBIA']
----------------------------------------
Valores únicos en la columna 'estu_privado_libertad':
['N' 'S']
----------------------------------------
Valores únicos en la columna 'fami_cuartoshogar':
['Dos' 'Tres' 'Cuatro' 'Seis o mas' 'Uno' 'Cinco' nan]
----------------------------------------
Valores únicos en la columna 'fami_educacionmadre':
['Secundaria (Bachillerato) completa' 'Primaria completa'
 'Educación profesional completa' 'Secundaria (Bachillerato) incompleta'
 'Técnica o tecnológica completa' nan 'Primaria incompleta' 'Postgrado'
 'Ninguno' 'Técnica o tecnológica incompleta'
 'Educación profesional incompleta']
----------------------------------------
Valores únicos en la columna 'fami_educacionpadre':
['Secundaria (Bachillerato) incompleta' 'Primaria incompleta'
 'Técnica o tecnológica completa' 'Primaria completa'
 'Secundaria (Bachillerato) completa' nan
 'Técnica o tecnológica incompleta' 'Educación profesional completa'
 'Postgrado' 'Ninguno' 'Educación profesional incompleta']
----------------------------------------
Valores únicos en la columna 'fami_estratovivienda':
['Estrato 2' 'Estrato 1' 'Sin Estrato' 'Estrato 3' nan 'Estrato 4'
 'Estrato 5' 'Estrato 6']
----------------------------------------
Valores únicos en la columna 'fami_personashogar':
['5 a 6' '3 a 4' '1 a 2' '7 a 8' nan '9 o más']
----------------------------------------
Valores únicos en la columna 'fami_tieneautomovil':
['No' 'Si' nan]
----------------------------------------
Valores únicos en la columna 'fami_tienecomputador':
['No' 'Si' nan]
----------------------------------------
Valores únicos en la columna 'fami_tieneinternet':
['No' 'Si' nan]
----------------------------------------
Valores únicos en la columna 'fami_tienelavadora':
['Si' 'No' nan]
----------------------------------------
Valores únicos en la columna 'desemp_ingles':
['A-' 'A1' 'A2' 'B1' 'B+']
----------------------------------------
Valores únicos en la columna 'punt_ingles':
[ 45.  36.  48.  37.  56.  43.  35.  52.  53.  59.  60.  64.  68.  32.
  88.  42.  40.  44.  77.  46.  31.  58.  50.  49.  55.  80.  57.  38.
  39.  34.  63.  54.  47.  30.  78.  62.  71.  69.  73.  29.  61.  81.
  67.  65.  51.  33.  41.  83.  79.  66.  82.  27.  70.  75.  85.  26.
  72. 100.  74.  76.  87.  89.  96.  28.  91.  84.  86.  92.  90.  97.
   0.  25.  95.  99.  93.  98.  94.  24.  13.  23.  19.  16.  14.  21.
  20.  18.  22.]
----------------------------------------
Valores únicos en la columna 'punt_matematicas':
[ 39.  50.  53.  52.  46.  65.  49.  51.  38.  42.  67.  70.  72.  59.
  57.  44.  82.  48.  37.  47.  41.  35.  30.  62.  63.  40.  33.  58.
  54.  75.  60.  45.  55.  29.  43.  64.  32.  56.  36.  34.  78.  69.
  61.  68.  74.  31.  66.  23.  71.  73.  24.  28.  25.  85.  80.  84.
  27.  77.  76.  79. 100.  21.  26.  22.  81.   0.  18.  83.  20.  19.
  86.  88.  87.  89.  17.  90.]
----------------------------------------
Valores únicos en la columna 'punt_sociales_ciudadanas':
[ 50  45  54  56  48  62  40  35  34  53  59  63  66  57  64  42  79  36
  65  47  68  44  37  46  55  49  60  61  38  41  58  39  70  43  30  69
  73  28  71  52  75  51  33  74  24  67  29  31  32  72  76  78  23  27
  80  77  26  81  25  83   0 100  22  20  21  82  88  19  18  86  84  85
  87]
----------------------------------------
Valores únicos en la columna 'punt_c_naturales':
[ 48  52  51  58  54  36  43  55  65  40  73  70  39  56  46  44  72  41
  59  42  50  57  61  47  69  49  35  30  62  38  60  32  45  33  66  67
  64  53  68  63  29  37  71  79  34  81  75  31  28  78  76  77  74  27
 100  80   0  82  26  25  83  24  84  23  85]
----------------------------------------
Valores únicos en la columna 'punt_lectura_critica':
[ 49  59  58  46  53  45  35  41  64  73  50  69  48  70  44  65  51  42
  63  60  61  55  52  43  66  47  72  57  36  39  56  38  40  74  75  68
  67  54  62  37  33  32  31  34  76  71  30  79  29  28  77  82  27  80
   0  78  83  81  84  26 100  25  24  85  23]
----------------------------------------
Valores únicos en la columna 'punt_global':
[232 235 270 268 292 238 240 180 201 279 310 297 352 312 226 381 209 246
 213 320 242 251 263 341 215 191 311 262 288 228 204 258 236 252 304 290
 371 260 177 223 250 227 190 239 307 277 205 319 220 282 181 211 299 189
 272 175 283 264 173 338 294 188 280 231 200 346 357 218 344 273 222 254
 303 314 293 221 195 302 210 243 206 219 313 244 301 315 275 291 192 317
 233 274 306 305 171 326 208 196 247 365 248 184 198 327 266 257 234 199
 330 269 185 289 207 355 214 300 316 197 358 230 287 193 339 253 183 187
 348 323 186 202 162 256 217 203 168 298 212 176 245 382 296 387 325 261
 308 259 265 395 255 165 281 342 172 286 369 179 225 333 328 332 347 216
 276 178 152 224 295 241 237 363 267 340 345 322 321 284 170 182 329 278
 353 337 167 396 350 368 249 194 351 271 229 377 331 324 335 318 285 398
 160 158 334 336 367 148 309 354 343 360 153 400 161 174 390 155 169 384
 362 157 366 372 378 150 375 356 393 418 144  13 430 159 146 361 397 392
 359 380 145 154 163 166 373 370 376 364 386 415 422 151 164 349 389 374
 394 434 379 388 433 383 385 147  65 156 149 402 408 403 411 137 470 407
 142 404 140 416 410 391 423 449 135 405 412 143 409 406 440 141 419 438
 421 131  90 442 399 401 126 414 128 426 445 417 435 413 472 138 134 420
 424  97 436 431 123 455 437 450 107 428 129   0 127 113 465 122 125 118
 114 463 119 133 425 427 446 132 109 130 447 460 448  55 452 106 441 104
  23 444 453 454 103 139 105 432 459 476 468 462 443 136  92  98  93 439
 101 116 117 111 124 100 108  36  94  96 112 429  62 457 471 451  81  73
 110  67 456]
----------------------------------------

In [301]:
# Contar la cantidad de datos vacios en cada columna luego de filtrar el Dataframe
numero_datos_faltantes = df.isna().sum()

# Mostrar el resultado
print(numero_datos_faltantes)

periodo                         0
estu_tipodocumento              0
cole_bilingue               70142
cole_calendario                 0
cole_caracter                7573
cole_depto_ubicacion            0
cole_genero                     0
cole_jornada                    0
cole_naturaleza                 0
estu_genero                     0
estu_nacionalidad               0
estu_pais_reside                0
estu_privado_libertad           0
fami_cuartoshogar            8344
fami_educacionmadre         24162
fami_educacionpadre         24204
fami_estratovivienda        26685
fami_personashogar          10901
fami_tieneautomovil          9937
fami_tienecomputador         8682
fami_tieneinternet          24924
fami_tienelavadora           8147
desemp_ingles                   0
punt_ingles                     0
punt_matematicas                0
punt_sociales_ciudadanas        0
punt_c_naturales                0
punt_lectura_critica            0
punt_global                     0
dtype: int64

A partir de los datos que tenemos, queremos identificar relaciones entre las columnas que contienen datos completos y aquellas que tienen datos faltantes, con el fin de poder estimar y completar los valores ausentes en lugar de eliminar las filas incompletas.

In [302]:
df_copia_datos = df.copy()

In [303]:
import pandas as pd

# Crear los rangos de puntaje
rango_puntaje_global = [0, 20, 40, 60, 80, 100]
rango_labels = ['0-20', '20-40', '40-60', '60-80', '80-100']
df['rango_puntaje'] = pd.cut(df['punt_ingles'], bins=rango_puntaje_global, labels=rango_labels, right=False)

# Tabla cruzada: cuenta cuántos "S" y "N" hay por cada rango
tabla_cruzada = pd.crosstab(df['rango_puntaje'], df['cole_bilingue'])

# Convertimos a porcentaje sobre el total por fila (por rango)
tabla_porcentajes_puntaje_colegio_bilingue = tabla_cruzada.div(tabla_cruzada.sum(axis=1), axis=0).round(4) * 100

# Mostrar la tabla final
print(tabla_porcentajes_puntaje_colegio_bilingue)

cole_bilingue      N      S
rango_puntaje
0-20           76.92  23.08
20-40          98.55   1.45
40-60          98.87   1.13
60-80          97.59   2.41
80-100         74.36  25.64

In [333]:
#Al DataFrame se le agrega una columna llamada rango_puntaje, que asigna un rango basado en el puntaje de inglés.
rango_puntaje_global_ajustado = [-0.01] + rango_puntaje_global[1:]

df_copia_datos['rango_puntaje'] = pd.cut(
    df_copia_datos['punt_ingles'],
    bins=rango_puntaje_global_ajustado,
    labels=rango_labels,
    right=True  
)

In [334]:
def asignar_cole_bilingue_segun_puntaje(df, tabla_porcentajes, col_rango='rango_puntaje', col_obj='cole_bilingue', margen=5):
    # Crear una copia del DataFrame original para no modificarlo directamente
    df = df.copy()

    # Obtener la lista de categorías (valores posibles en la columna objetivo)
    categorias = tabla_porcentajes.columns.tolist()  
    
    # Iterar sobre cada rango de puntaje definido en el índice de la tabla de porcentajes
    for rango in tabla_porcentajes.index:
        # Guardar en un diccionario el porcentaje objetivo para cada categoría en este rango
        porcentaje_obj = tabla_porcentajes.loc[rango].to_dict()

        # Filtrar el DataFrame para quedarnos solo con las filas que pertenecen a este rango
        mask_rango = df[col_rango] == rango
        df_rango = df.loc[mask_rango]

        # Contar cuántas veces aparece cada categoría en la columna objetivo dentro de este rango
        conteo_actual = df_rango[col_obj].value_counts(dropna=True).to_dict()

        # Asegurar que todas las categorías estén presentes en el conteo, aunque sea con valor 0
        for cat in categorias:
            if cat not in conteo_actual:
                conteo_actual[cat] = 0

        # Obtener los índices de las filas donde la columna objetivo está vacía (NaN) para asignarles categoría
        idx_nan = df_rango[df_rango[col_obj].isna()].index.tolist()

        # Para cada fila con valor NaN en la columna objetivo, intentar asignar una categoría adecuada
        for idx in idx_nan:
            asignado = False

            # Ordenar las categorías según el porcentaje objetivo (de mayor a menor)
            orden_categorias = sorted(categorias, key=lambda x: porcentaje_obj[x], reverse=True)

            # Probar asignar cada categoría en orden hasta encontrar una que no supere el margen permitido de desviación
            for cat in orden_categorias:
                # Crear una copia temporal del conteo actual y sumar uno a la categoría que se está evaluando
                conteo_temp = conteo_actual.copy()
                conteo_temp[cat] += 1

                # Calcular el nuevo porcentaje temporal de cada categoría después de la asignación hipotética
                total_temp = sum(conteo_temp.values())
                porcentaje_temp = {k: (v / total_temp) * 100 for k, v in conteo_temp.items()}

                # Verificar si la desviación entre los porcentajes actuales y objetivos está dentro del margen permitido para todas las categorías
                desviacion_ok = all(abs(porcentaje_temp.get(k, 0) - porcentaje_obj[k]) <= margen for k in porcentaje_obj)

                # Si la desviación está dentro del margen, asignar esta categoría y actualizar el conteo actual
                if desviacion_ok:
                    df.at[idx, col_obj] = cat
                    conteo_actual = conteo_temp
                    asignado = True
                    break  # Salir del ciclo de categorías, porque ya se asignó una categoría válida

            # Si no se pudo asignar ninguna categoría que cumpla con el margen, asignar la categoría con mayor porcentaje objetivo por defecto
            if not asignado:
                cat = orden_categorias[0]
                df.at[idx, col_obj] = cat
                conteo_actual[cat] += 1

    # Retornar el DataFrame modificado con las asignaciones hechas
    return df

In [335]:
#Apliar la función
df_final = asignar_cole_bilingue_segun_puntaje(df_copia_datos, tabla_porcentajes_puntaje_colegio_bilingue)
df_final

,periodo,estu_tipodocumento,cole_bilingue,cole_calendario,cole_caracter,cole_depto_ubicacion,cole_genero,cole_jornada,cole_naturaleza,estu_genero,...,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,rango_puntaje
0,20172,CC,N,A,ACADÉMICO,BOLIVAR,MIXTO,MAÑANA,OFICIAL,F,...,No,Si,A-,45.0,39.0,50,48,49,232,40-60
1,20172,TI,N,A,ACADÉMICO,HUILA,MIXTO,COMPLETA,OFICIAL,M,...,No,Si,A-,36.0,50.0,45,48,49,235,20-40
2,20172,TI,N,A,TÉCNICO,VALLE,MIXTO,MAÑANA,OFICIAL,M,...,Si,Si,A1,48.0,53.0,54,52,59,270,40-60
3,20172,TI,N,A,TÉCNICO,BOLIVAR,MIXTO,MAÑANA,OFICIAL,M,...,No,Si,A-,45.0,52.0,56,51,58,268,40-60
4,20172,TI,N,A,TÉCNICO/ACADÉMICO,TOLIMA,MIXTO,MAÑANA,OFICIAL,F,...,Si,Si,A-,37.0,46.0,48,51,46,235,20-40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561281,20172,TI,N,A,ACADÉMICO,BOGOTA,MIXTO,COMPLETA,NO OFICIAL,F,...,Si,Si,A1,55.0,49.0,51,52,55,260,40-60
561282,20172,TI,N,A,ACADÉMICO,CUNDINAMARCA,MIXTO,UNICA,OFICIAL,F,...,Si,Si,A1,54.0,53.0,54,59,64,286,40-60
561283,20172,TI,N,A,ACADÉMICO,CAUCA,MIXTO,MAÑANA,OFICIAL,F,...,No,Si,A2,58.0,64.0,61,67,71,326,40-60
561285,20172,TI,N,A,ACADÉMICO,ANTIOQUIA,MIXTO,COMPLETA,NO OFICIAL,F,...,Si,Si,A1,48.0,40.0,50,54,62,256,40-60
561286,20172,TI,N,A,ACADÉMICO,CESAR,MIXTO,TARDE,OFICIAL,M,...,Si,No,A-,47.0,55.0,47,59,63,277,40-60

In [336]:
#Validar en el DataFrame final la proporción de cada valor de la columna cole_bilingue dentro de cada rango de puntaje.
tabla_porcentajes_puntaje_colegio_bilingue_final = pd.crosstab(df_final['rango_puntaje'], df_final['cole_bilingue'])
tabla_porcentajes_puntaje_colegio_bilingue_final = tabla_porcentajes_puntaje_colegio_bilingue_final.div(tabla_porcentajes_puntaje_colegio_bilingue_final.sum(axis=1), axis=0).round(3) * 100

In [337]:
# Unir proporciones originales y finales en un solo DataFrame
comparacion_proporciones = pd.DataFrame({
    'Original_S': tabla_porcentajes_puntaje_colegio_bilingue['S'],
    'Original_N': tabla_porcentajes_puntaje_colegio_bilingue['N'],
    'Final_S': tabla_porcentajes_puntaje_colegio_bilingue_final['S'],
    'Final_N': tabla_porcentajes_puntaje_colegio_bilingue_final['N'],
})

# Calcular diferencia en puntos porcentuales
comparacion_proporciones['Diferencia_S'] = (comparacion_proporciones['Final_S'] - comparacion_proporciones['Original_S']).round(2)
comparacion_proporciones['Diferencia_N'] = (comparacion_proporciones['Final_N'] - comparacion_proporciones['Original_N']).round(2)

# Mostrar resultado
print(comparacion_proporciones)

               Original_S  Original_N  Final_S  Final_N  Diferencia_S  \
rango_puntaje
0-20                23.08       76.92     20.0     80.0         -3.08
20-40                1.45       98.55      1.2     98.8         -0.25
40-60                1.13       98.87      1.0     99.0         -0.13
60-80                2.41       97.59      2.5     97.5          0.09
80-100              25.64       74.36     27.0     73.0          1.36

               Diferencia_N
rango_puntaje
0-20                   3.08
20-40                  0.25
40-60                  0.13
60-80                 -0.09
80-100                -1.36

In [338]:
# Crear un diccionario donde cada clave es un valor de 'cole_bilingue'
# y el valor es una lista de estratos únicos asociados
estratos_por_bilingue = (
    df_final.groupby('cole_bilingue')['fami_estratovivienda']
    .unique()
    .apply(list)
    .to_dict()
)

# Mostrar el resultado
for bilingue, estratos in estratos_por_bilingue.items():
    print(f"{bilingue}: {estratos}")

N: ['Estrato 2', 'Estrato 1', 'Sin Estrato', 'Estrato 3', nan, 'Estrato 4', 'Estrato 5', 'Estrato 6']
S: ['Estrato 1', 'Estrato 4', 'Estrato 6', 'Estrato 5', 'Estrato 3', 'Estrato 2', nan, 'Sin Estrato']

In [345]:
# Contar la cantidad de valores vacios en cada columna
numero_datos_faltantes = df_final.isna().sum()

# Mostrar el resultado
print(numero_datos_faltantes)

periodo                         0
estu_tipodocumento              0
cole_bilingue                   0
cole_calendario                 0
cole_caracter                7573
cole_depto_ubicacion            0
cole_genero                     0
cole_jornada                    0
cole_naturaleza                 0
estu_genero                     0
estu_nacionalidad               0
estu_pais_reside                0
estu_privado_libertad           0
fami_cuartoshogar            8344
fami_educacionmadre         24162
fami_educacionpadre         24204
fami_estratovivienda        26685
fami_personashogar          10901
fami_tieneautomovil          9937
fami_tienecomputador         8682
fami_tieneinternet          24924
fami_tienelavadora           8147
desemp_ingles                   0
punt_ingles                     0
punt_matematicas                0
punt_sociales_ciudadanas        0
punt_c_naturales                0
punt_lectura_critica            0
punt_global                     0
dtype: int64

In [341]:
# Contar cuántas veces aparece cada valor de cole_bilingue en cada estrato
conteo = df.groupby(['fami_estratovivienda', 'cole_bilingue']).size().unstack(fill_value=0)

# Calcular el porcentaje que representa cada valor de cole_bilingue dentro de cada estrato
porcentaje_estrato_cole_bilingue_original = conteo.div(conteo.sum(axis=1), axis=0) * 100

# Redondear para mejor visualización
porcentaje_estrato_cole_bilingue_original = porcentaje_estrato_cole_bilingue_original.round(2)

# Mostrar el resultado
print(porcentaje_estrato_cole_bilingue_original)

cole_bilingue             N      S
fami_estratovivienda
Estrato 1             98.51   1.49
Estrato 2             99.16   0.84
Estrato 3             98.96   1.04
Estrato 4             95.38   4.62
Estrato 5             87.00  13.00
Estrato 6             71.11  28.89
Sin Estrato           96.51   3.49

In [342]:
# Contar cuántas veces aparece cada valor de cole_bilingue en cada estrato
conteo = df_final.groupby(['fami_estratovivienda', 'cole_bilingue']).size().unstack(fill_value=0)

# Calcular el porcentaje que representa cada valor de cole_bilingue dentro de cada estrato
porcentaje_estrato_cole_bilingue_final = conteo.div(conteo.sum(axis=1), axis=0) * 100

# Redondear para mejor visualización
porcentaje_estrato_cole_bilingue_final = porcentaje_estrato_cole_bilingue_final.round(2)

# Mostrar el resultado
print(porcentaje_estrato_cole_bilingue_final)

cole_bilingue             N      S
fami_estratovivienda
Estrato 1             98.73   1.27
Estrato 2             99.27   0.73
Estrato 3             99.08   0.92
Estrato 4             95.96   4.04
Estrato 5             88.51  11.49
Estrato 6             74.58  25.42
Sin Estrato           97.22   2.78

In [343]:
df_final

,periodo,estu_tipodocumento,cole_bilingue,cole_calendario,cole_caracter,cole_depto_ubicacion,cole_genero,cole_jornada,cole_naturaleza,estu_genero,...,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global,rango_puntaje
0,20172,CC,N,A,ACADÉMICO,BOLIVAR,MIXTO,MAÑANA,OFICIAL,F,...,No,Si,A-,45.0,39.0,50,48,49,232,40-60
1,20172,TI,N,A,ACADÉMICO,HUILA,MIXTO,COMPLETA,OFICIAL,M,...,No,Si,A-,36.0,50.0,45,48,49,235,20-40
2,20172,TI,N,A,TÉCNICO,VALLE,MIXTO,MAÑANA,OFICIAL,M,...,Si,Si,A1,48.0,53.0,54,52,59,270,40-60
3,20172,TI,N,A,TÉCNICO,BOLIVAR,MIXTO,MAÑANA,OFICIAL,M,...,No,Si,A-,45.0,52.0,56,51,58,268,40-60
4,20172,TI,N,A,TÉCNICO/ACADÉMICO,TOLIMA,MIXTO,MAÑANA,OFICIAL,F,...,Si,Si,A-,37.0,46.0,48,51,46,235,20-40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561281,20172,TI,N,A,ACADÉMICO,BOGOTA,MIXTO,COMPLETA,NO OFICIAL,F,...,Si,Si,A1,55.0,49.0,51,52,55,260,40-60
561282,20172,TI,N,A,ACADÉMICO,CUNDINAMARCA,MIXTO,UNICA,OFICIAL,F,...,Si,Si,A1,54.0,53.0,54,59,64,286,40-60
561283,20172,TI,N,A,ACADÉMICO,CAUCA,MIXTO,MAÑANA,OFICIAL,F,...,No,Si,A2,58.0,64.0,61,67,71,326,40-60
561285,20172,TI,N,A,ACADÉMICO,ANTIOQUIA,MIXTO,COMPLETA,NO OFICIAL,F,...,Si,Si,A1,48.0,40.0,50,54,62,256,40-60
561286,20172,TI,N,A,ACADÉMICO,CESAR,MIXTO,TARDE,OFICIAL,M,...,Si,No,A-,47.0,55.0,47,59,63,277,40-60

In [344]:
df_final = df_final.drop('rango_puntaje', axis=1)

In [346]:
df_final

,periodo,estu_tipodocumento,cole_bilingue,cole_calendario,cole_caracter,cole_depto_ubicacion,cole_genero,cole_jornada,cole_naturaleza,estu_genero,...,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,desemp_ingles,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
0,20172,CC,N,A,ACADÉMICO,BOLIVAR,MIXTO,MAÑANA,OFICIAL,F,...,No,No,Si,A-,45.0,39.0,50,48,49,232
1,20172,TI,N,A,ACADÉMICO,HUILA,MIXTO,COMPLETA,OFICIAL,M,...,No,No,Si,A-,36.0,50.0,45,48,49,235
2,20172,TI,N,A,TÉCNICO,VALLE,MIXTO,MAÑANA,OFICIAL,M,...,Si,Si,Si,A1,48.0,53.0,54,52,59,270
3,20172,TI,N,A,TÉCNICO,BOLIVAR,MIXTO,MAÑANA,OFICIAL,M,...,Si,No,Si,A-,45.0,52.0,56,51,58,268
4,20172,TI,N,A,TÉCNICO/ACADÉMICO,TOLIMA,MIXTO,MAÑANA,OFICIAL,F,...,Si,Si,Si,A-,37.0,46.0,48,51,46,235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561281,20172,TI,N,A,ACADÉMICO,BOGOTA,MIXTO,COMPLETA,NO OFICIAL,F,...,Si,Si,Si,A1,55.0,49.0,51,52,55,260
561282,20172,TI,N,A,ACADÉMICO,CUNDINAMARCA,MIXTO,UNICA,OFICIAL,F,...,Si,Si,Si,A1,54.0,53.0,54,59,64,286
561283,20172,TI,N,A,ACADÉMICO,CAUCA,MIXTO,MAÑANA,OFICIAL,F,...,Si,No,Si,A2,58.0,64.0,61,67,71,326
561285,20172,TI,N,A,ACADÉMICO,ANTIOQUIA,MIXTO,COMPLETA,NO OFICIAL,F,...,Si,Si,Si,A1,48.0,40.0,50,54,62,256
561286,20172,TI,N,A,ACADÉMICO,CESAR,MIXTO,TARDE,OFICIAL,M,...,Si,Si,No,A-,47.0,55.0,47,59,63,277